{% extends 'base.html' %}

{% load static %}


{% block content %}
  <h1>Escáner de dispositivos en red local</h1>
  <form method="post">
    {% csrf_token %}
  </form>

  {% if devices %}
    <h2>Dispositivos encontrados</h2>
    <table border="1" class="table-dark">
      <thead>
        <tr>
          <th>Dirección IP</th>
          <th>Dirección MAC</th>
          <th>Fabricante</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
          <tr>
            <td>{{ device.ip_address }}</td>
            <td>{{ device.mac_address }}</td>
            <td>{{ device.manufacturer }}</td>
            <td><button type="button" class="select-device" data-ip="{{ device.ip_address }}" data-mac="{{ device.mac_address }}" data-manufacturer="{{ device.manufacturer }}">Seleccionar</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <div id="device-modal" class="modal">
    <div class="modal-content">
      <form method="post" class="dark-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-dark">Guardar dispositivo</button>
      </form>
    </div>
  </div>

{% endblock %}
