<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="/static/assets/images/favicon-32x32.png" type="image/png" />
	<link href="/static/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="/static/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="/static/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="/static/assets/css/pace.min.css" rel="stylesheet" />
	<script src="/static/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/assets/css/bootstrap-extended.css" rel="stylesheet">
	<link href="https:/fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="/static/assets/css/app.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/assets/css/styles.css">
	<link href="/static/assets/css/icons.css" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="/static/assets/css/dark-theme.css" />
	<link rel="stylesheet" href="/static/assets/css/arp_scan.css">
	<link rel="stylesheet" href="/static/assets/css/semi-dark.css" />
	<link rel="stylesheet" href="/static/assets/css/header-colors.css" />
	<title>{% block title %}Base plantilla{% endblock %}</title>
</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="/static/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text">VulnScan Intelligent</h4>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="/arp_scan">
						<div class="parent-icon"><i class='bx bxs-zap'></i>
						</div>
						<div class="menu-title">Dispositivos</div>
					</a>
				</li>
				<li>
					<a href="/scan">
						<div class="parent-icon"><i class='bx bxs-bot'></i>
						</div>
						<div class="menu-title">Escaner</div>
					</a>
				</li>
				<li>
					<a href="/whatweb/">
						<div class="parent-icon"><i class='bx bxs-zap'></i>
						</div>
						<div class="menu-title">Tecnologias web</div>
					</a>
				</li>
				<li>
					<a href="/generate_text">
						<div class="parent-icon"><i class='bx bxs-zap'></i>
						</div>
						<div class="menu-title">Documento</div>
					</a>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div class="search-bar flex-grow-1">
						<div class="position-relative">
						</div>
					</div>
					<div class="user-box dropdown">
						<!-- <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
							 <img src="/static/assets/images/avatars/avatar-2.png" class="user-img" alt="user avatar">
							
						</a> -->
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="javascript:;"><i
										class="bx bx-user"></i><span>Profile</span></a>
							</li>
							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
							<li><a class="dropdown-item" href="javascript:;"><i
										class='bx bx-log-out-circle'></i><span>Logout</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				{% block content %}{% endblock %}
			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button-->
		<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!-- <footer class="page-footer">
			<p class="mb-0">Copyright © 2021. All right reserved.</p>
		</footer> -->
	</div>
	<!--end wrapper-->
	<!--start switcher-->

	<!--end switcher-->
	<!-- Bootstrap JS -->
	<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="/static/assets/js/jquery.min.js"></script>
	<script src="/static/assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="/static/assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="/static/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="/static/assets/plugins/chartjs/js/Chart.min.js"></script>
	<script src="/static/assets/plugins/chartjs/js/Chart.extension.js"></script>
	<script src="/static/assets/js/index.js"></script>
	<!--app JS-->
	<script src="/static/assets/js/app.js"></script>
	<script src="/static/assets/js/arp_scan.js"></script>
</body>

</html>