{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scan{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1 class="titulo-principal">Scan Server</h1>
    <h2 class="titulo-secundario">Escanea tus dispositivos de RED</h2>

    <form class="form-escaneo" action="result">
        <label class="etiqueta-formulario" for="host">Ingresa la direccion IP a escanear</label>
        <input class="input-escaneo" type="text" id="host" name="host">
        <button class="boton-escaneo">Escanear</button>
    </form>
    {% endblock %}
</body>
</html>