{% extends "base.html" %}
<title>{% block title %}Whatweb{% endblock %}</title>
{% block content %}
<h1 class="titulo-resultado">Whatweb</h1>
<form method="post" action="whatweb">
    {% csrf_token %}
    <label class="etiqueta-formulario" for="domain">Ingresa un dominio a escanear</label>
    <input class="input-escaneo" type="text" id="domain" name="domain">
    <button type="submit" class="boton-escaneo">Escanear</button>
</form>
<p class="ip-resultado">{{result}}</p>
{% if dominio == '' %}
    <p class="ip-resultado">Dominio: Aun no ingresas un dominio</p>
{% else %}
    <p class="ip-resultado">Dominio: {{dominio}}</p>
{%endif%}


{% endblock %}

